$color-primary: darken(#D2D7D3, 25%);
$color-secondary: #9DC24E;

$brand-primary: $color-primary;


// Page
$link-hover-decoration:               none;
$body-bg:                             lighten(#D2D7D3, 5%);
$text-color:                          #333;
$border-radius-base:                  3px;
$border-radius-large:                 3px;
$border-radius-small:                 3px;
$grid-gutter-width:                   15px;



// Typography
$font-family-base:                    "Roboto", Helvetica, Arial, sans-serif;
$font-size-base:                      15px;

$headings-font-family:                "Roboto", Helvetica, Arial, sans-serif;
$headings-font-weight:                400;
$headings-line-height:                1.1;
$headings-color:                      $text-color;